:root {
    --facebook-color: #405D9D;
    --facebook-color-hover: #314879;
    --twitter-color: #42AEEC;
    --twitter-color-hover: #1799E4;
}

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: var(--facebook-color);
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: var(--facebook-color-hover);
}

.btn-twitter {
    background: var(--twitter-color);
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: var(--twitter-color-hover);
}
